*{
    padding: 0;
    margin: 0;
}
 body{
    background-color: lightblue;
    font-family: sans-serif;
    margin: 0;
 }

a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    height: 110px;
    background-color: rgb(31, 109, 157);
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
   height: 100px;
   margin-right: 10px;

}


.gallery_content{
    width: 90%;
    max-width: 1000px;
    margin: 1rem auto;
    column-count: 1;
}
.gallery_item{
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;  
    break-inside: avoid;
    text-align: center;
    font-family: 'Lucida Calligraphy', cursive;
    font-weight: 400;
    font-size: 1.1rem;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
    transition: transform 0.3s ease-in-out;
    
}

.gallery_item img{
    width: 100%;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
        padding-top: 10px;
    }
}

@media (min-width: 768px)
{
    .gallery_content{
        column-count: 2;
    }
}

@media (min-width: 1024px){
   
    .gallery_content{
        column-count: 3;
    }
    .gallery_item:hover{
        transform: scale(1.1,1.1);
        cursor: pointer;
    }
}