.form {


    .formContenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        margin: 0 auto;
        gap: 20px;
        border: 1px solid gray;
        padding: 25px;
        border-radius: 10px;

        
        
        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
        }

        button {
            width: 100px;
            margin: 0 auto;
            border: none;
            background-color: rgb(43, 59, 153);
            color: white;
            padding: 10px 15px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}